@import url("/stylesheets/common/base.css");
@import url("/stylesheets/common/normalize.css");
@import url("/stylesheets/common/theme.css");

.header-area h1 {
  width: 1020px;
  margin-top: 100px;
  margin-bottom: 48px;
}
.company-logo {
  width: 176px;
  height: 40px;
}

.discovery-main-area {
  width: 1020px;
  margin-bottom: 230px;
}

.discovery-title-group {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  height: 24px;
}

.discovery-title {
  font-weight: 700;
  font-size: 24px;
}

.discovery-title-line {
  color: var(--color-gray-600);
  margin: 0 10px;
  font-weight: 700;
}

.discovery-txt {
  color: var(--color-gray-600);
  font-weight: 500;
  font-size: 16px;
}

.discovery-item-list {
  width: 100%;
}

.discovery-item {
  float: left;
  width: 243px;
  height: 310px;
}

.discovery-item-w {
  width: 502px;
}

.discovery-item:not(.item-no-mr) {
  margin-right: 16px;
}

.discovery-item:not(.item-no-mb) {
  margin-bottom: 16px;
}

.discovery-item-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-gray-500);
  transition: border 0.2s ease-in-out;
}

.discovery-item-link:hover,
.discovery-item-link:focus {
  border: 1px solid var(--color-blue-600);
}

.btn-buy {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  bottom: 20px;
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.discovery-item-link:hover .btn-buy,
.discovery-item-link:focus .btn-buy {
  width: 112px;
  background-color: var(--color-blue-600);
}

.discovery-item-link:hover .btn-buy::before,
.discovery-item-link:focus .btn-buy::before {
  content: "구매하기";
  font-size: 14px;
  color: #fff;
}
